.bg-img{
background-image: url(/assets/img/other/technology-785742_1920.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
overflow:hidden;
}
.faicon-center{
    text-align:center;
    background-color:transparent;
}
/*.faicon-center:hover{

}*/

.bg-modal-error{
background-image: url(../img/other/errorsad.jpg);
background-size: cover;
}
.btn-lan{
    background-color: transparent; 
    color: white;
   

}
.btn-lan:focus{
    background-color: wheat;
}

  